doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    block js_script
    title ToDo App
  body 
    nav 
      .nav-links 
        a(href="/home") My Tasks
        if session && session.userName
          a(href="/logout") Logout
        else 
          .nav-sub
            a(href="/login") Login
            a(href="/register") Register
    block content